#edital-coral {
	padding-bottom: 50px;
	float: none;
	#banner {
		height: 580px;
		position: relative;
		background-image: url(https://s3.amazonaws.com/atados-us/images/banner-quadras-inesperadas.png);
		background-size: cover;
		background-position: top center;

		h1 {
			color: #FFF;
			position: relative;
			z-index: 1001;
			padding-top: 150px;
			font-size: 55px;
			font-weight: bold;
		}

		h2 {
			color: #FFF;
			font-size: 25px;
			margin-top: 20px;
			line-height: 35px;
		}

		/* The animation code */
		@keyframes arrow {
		    from {
		    	margin-top: 100px;
		    }
		    to {
		    	margin-top: 115px;
		    }
		}

		#arrow-down {
			margin: 0 auto;
			width: 50px;
			height: 50px;
			position: absolute;
			z-index: 99999;
			left: 50%;
			margin-left: -25px;
			margin-top: 100px;
			animation-name: arrow;
    		animation-duration: 0.6s;
    		animation-iteration-count: infinite;
    		animation-direction: alternate;
		}

		@media screen and (max-width: 990px) {
			#banner {
				margin-top: -20px;
			}
		}

		@media screen and (max-width: 800px) {
			h1 {
				padding-top: 20px;
			}
		}

		@media screen and (max-width: 460px) {
			h1 {
				font-size: 45px;
				padding-top: 30px;
			}

			h2 {
				font-size: 20px;
			}

			#arrow-down {
				width: 40px;
				height: 40px;
			}
		}
	}

	#content {
		margin-top: 20px;
		h3 {
			font-weight: 700;
			color: #009BD4;
		}

		h3:last-of-type {
			margin-top: 40px;
		}
		p {
			line-height: 25px;
			margin-top: 25px;
		}
		.edital-button {
			padding: 20px 65px 20px 65px;
			border: 2px solid #e27d1d;
			color: #e27d1d;
			font-size: 20px;
			border-radius: 5px;
			text-decoration: none !important;
			-webkit-transition: all 0.5s;
    		transition: all 0.5s;
    		text-align: center;
		}
		.wrapper-video {
			height: 360px;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.edital-button:hover {
			color: #FFF;
			background: #e27d1d;
		}
		.video {
			width:80%;
			margin: 0 auto;
		}
		.edital-link {
			text-align: center;
			margin-top: 50px;
			font-size: 18px;
			a {
				color: #e27d1d;
				text-decoration: underline;
			}
		}
		.last-paragraph {
			margin-bottom: 70px;
		}
		@media screen and (max-width: 460px) {
			.edital-button {
				padding: 15px 50px 15px 50px;
				font-size: 18px;
			}
		}
	}
	.content-title {
		margin-top: 40px;
		margin-bottom: 20px;
		font-weight: 700;
		color: #009BD4;
	}
	.project-card-coral {
		float: left; 
		margin-left: 20px;
	}
}