#footer {
  padding-top: 20px;
  background-color: $footer-bg;
  color: $footer-color;
  min-height: $footer-height;

  @media screen and (max-width: $screen-sm) {
    min-height: $footer-xs-height;
  }

  .logo-rio {
    vertical-align: top;
    margin-left: 20px;
    margin-top: 15px;
  }

  .fb-like-box {
    display: inline-block;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $footer-color-heading;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    padding-left: 0;
    font-size: 0px;
    text-align: center;
    li {
      font-size: 14px;
      display: inline-block;
      border-right: 2px solid #fff;
      padding: 0px 20px;
      margin-right: 0px;
      list-style:none;
      font-weight: bold;
      a {
        color: $white;
      }
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        padding-right: 0px;
        border-right: 0px;
      }
    }
  }

  #open-source {
    text-align: center;
    i {
      color: $blue;
    }
  }

  .fb_iframe_widget {
    margin: 15px auto;
    max-width: 100%;
    overflow: hidden;

    iframe {
      display: block;
    }
  }

  @media (max-width: 767px) {
    ul {
      text-align: left;
      li {
        display: block;
        border-right: none;
        padding: 0px;
      }
    }
  }
}
