#nonprofit-new, #nonprofit-edit, #project-new {
  background: #F7FAFA;
}

.playlist {
  margin-top: 40px;
  text-align: center;
  a {
    font-weight: bold;
    text-decoration: underline;
    color: #555;
  }
}

.project-form, .nonprofit-form {
  padding: 30px 0;
  .menu {
    margin-top: 20px;
    text-align: center;
    ul {
      font-size: 0px;
      display: inline-block;
      margin: 0 0;
      padding: 0 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
      li {
        display: inline-block;

        a {
          color: #333;
          display: inline-block;
          font-size: 12px;
          padding: 17px 20px;
          font-weight: bold;
          background: #fff;
          border: 1px solid #d9d9de;
          border-left: none;

          &:hover {
            text-decoration: none;
          }

          i {
            margin-right: 5px;
          }

          .gray {
            color: #DDDDE2;
          }

          .green {
            color: #46cc46;
          }

          .red {
            color: #aa2323;;
          }
        }

        &.menu-active a {
          background: none;
        }

        &:first-child a {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          border-left: 1px solid #d9d9de;
        }
        &:last-child a {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
  .top-content {
    h2, h3, p {
      text-align: center;
    }
    h2 {
      color: #e47f1e;
      font-size: 42px;
      font-weight: bold;
    }
    h3 {
      font-size: 22px;
      color: #555;
      font-weight: 100;
    }
  }
  .log-link {
    margin-top: 40px;
  }
  .fields-container {
    background: white;
    border-radius: 6px;
    border: 1px solid #d9d9de;
    margin-top: 40px;
    padding: 40px 60px;
    &.nopd {
      margin-top: 5px;
    }
  }
  .no-margin {
    margin-top: 0px;
  }
  fieldset {
    background: #f7fafa;
    margin-top: 20px;
    padding: 15px;
    border-radius: 6px;
    &:first-child {
      margin-top: 0px;
    }

    .indicator {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #AFAFAF;
      float: right;
      margin-top: 10px;
      box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
      &.error {
        background: #FC4C4C;
      }
      &.success {
        background: #60B86E;
      }
    }

    .form-control {
      box-shadow: none;
      border-radius: 6px;
      border: 1px solid #d9d9de;
      color: #666666;

      &.short {
        width: 100px;
      }

      &:focus {
        border: 1px solid #009bd4;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #b5b5b5;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #b5b5b5;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #b5b5b5;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #b5b5b5;
      }
    }

    .date-type {
      .panel {
        padding: 15px;
        cursor: pointer;
        box-shadow: none;
      }

      .well {
        background: white;
        padding: 7px;
        box-shadow: none;
        border-radius: 6px;
        border: none;
      }
      .controls {
        margin-bottom: 20px;

        small {
          font-size: 12px;
        }
      }
    }
  }

  .dropzone {
    border: 1px dashed #d9d9de;
    border-radius: 6px;
    font-size: 12px;
    color: #666;
    b {
      color: #009AD6;
    }

  }

  ul.tags {
    margin: 10px 0 0;
    padding: 0 0;

    a {
      display: inline-block;
    }

    li {
      border-radius: 3px;
      background: #009ad6;
      padding: 8px;
      display: inline-block;
      margin-right: 7px;
      color: #fff;
      margin-bottom: 7px;

      a {
        color: #fff;
      }
    }

    &.block {
      li {
        display: block;
      }
    }

    &.selectable {
      font-size: 0px;

      li {
        background: #c8c8c8;
        cursor: pointer;
        margin-right: 4px;
        margin-bottom: 4px;
        font-size: 14px;
        padding: 4px 8px;
        text-align: center;

        &.tag-active {
          background: #e47f1e;
        }
      }
    }
    
    &.restrict-width {
      li {
        width: 48px; 
      }
    }
  }

  .roles {
    padding-left: 0px;
    margin-top: 25px;

    li {
      background: #e3e1e1;
      border-radius: 6px;
      padding: 5px 10px;
      font-weight: bold;

      &:not(:first-child) {
        margin-top: 15px;
      }
      
      .actions {
        float: right;
        font-weight: normal;
        font-size: 12px;

        a {
          color: rgb(124, 124, 124);

          &:first-child { margin-right: 5px; }
          &:last-child { margin-left: 5px; }
        }
      }
    }
  }

  .datepicker {
    margin-left: -15px;
    margin-right: -15px;

    table {
      margin: auto auto;
    }
  }

  .btn-success {
    border-radius: 6px;
    background: #009AD6;
    border: medium none;
    padding: 7px 13px;
    font-weight: bold;

    &:hover, &:active {
      background: #0079A8;
    }

    &:disabled {
      background: #b9b9b9;
      &:hover, &:active {
        background: #b9b9b9;
      }
    }
  }

  .step-control {
    margin-top: 25px;
  }

  .fa.fa-spin {
    color: #009AD6;
  }

}

.gutter-5 {
  padding: 0px 10px;

  > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
  }
}

.date-modal {
  table {
    margin: auto auto;
  } 

  .picker-day.picker-selected {
    background: #009ad6;
  }

  .picker-day:not(.picker-off):not(.picker-empty):hover {
    background: #008abf;
  }
}

#nonprofit-login {
  .mg {
    margin-bottom: 10px;
  }

  fieldset {
    h2 {
      color: #e47f1e;
      font-size: 38px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0 30px;
    }
  }

  .btn-success {
    border-radius: 6px;
    background: #009AD6 !important;
    border: medium none;
    padding: 7px 13px;
    font-weight: bold !important;

    &:hover, &:active {
      background: #0079A8 !important;
    }

    &:disabled {
      background: #b9b9b9 !important;
      &:hover, &:active {
        background: #b9b9b9 !important;
      }
    }
  }

  .btn-large {
    font-size: 16px;
    padding: 14px 70px;
  }

  .alert-danger {
    border: none;
    text-align: right;
    background: none;
    margin-bottom: 0px;
  }

}
