#project-page {

  #atar-button {
    i {
      color: #BA2524;
    }
    border:none;
    box-shadow: 0 0px 1px #858484;
    margin-right: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    background-image: linear-gradient(#FFF, #E8E8E8);
    font-weight: bold;
    color: #0281B2;
    width: 250px;
    height: 44px;
  }
  #project-header {
    padding: 40px 0;
    background-color: #0E6281;
    color: white;
    
    p {
      font-size: 14px;
      font-weight: bold;
    }
    #project-image {
      width: 375px;
      height: 260px;
      overflow: hidden;
      margin-bottom: 15px;

      img {
        width: 100%;
        background: white;
      }
    }
    #project-name {
      color: white;
      font-weight: bold;
      font-size: 40px;
      margin: 0 0 20px 0;
    }
    #project-type {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    #project-nonprofit {
      margin-bottom: 30px;
      color: white;
      #nonprofit-img {

        position: relative;
        float: left;
        width: 55px;
        height: 55px;
        margin-right: 10px;
        img {
          background-color: #FFF;
          border-radius: 4px;
          padding: 2px;
          width: 100%;
          height: 100%;
        }
      }
      a {
        text-decoration: none;
        color: white;
      }
      #nonprofit-name {
        font-size: 14px;
        margin: 0;
      }
      #nonprofit-local {
        font-size: 13px;
        margin: 0;
      }
      a { 
        i {
          color: white;
          margin-right: 5px;
        }
      }
    }
    #project-icons {
      .icon-image { 
        box-shadow: 0 0 3px #808080;
        height: 30px;
        width: 30px;
        padding: 4px 0px 0px 5px;
        display: inline-block;
        margin-right: 10px;
        background-color: white;
        margin-top: 5px;
      }
    }
    #project-volunteers {

      width: 250px;
      h4 {
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
      #cards {
        width: 250px;
        height: 151px;
        overflow: auto;
        img {
          margin-right: 3px;
          margin-bottom: 5px;
        }
      }
    }
  }

  

  #project-details {
    padding: 60px 0;
    background-color: #EEEEEE;
    .active {
      i {
        color: red !important; 
      }
    }
    .btn-info {
      i {
        font-size: 20px;
        color: white;
      }
    }
    .active {
      background-image: linear-gradient(#009BD4, #0081B2) !important;
      color: #FFF;
    }
    
    #left-sidebar {
      width: 373px;
      #project-remote {
        margin-top:40px;
      }
      
      #project-map {
        margin: 20px 0;
      }
      i {
        margin: 0 10px;
        font-size: 20px;
      }
      
      #project-responsible {
        margin-top: 60px;
      }
    }
    #project-facebook {
      margin-top: 60px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    #project-roles {
      margin: 55px 0;
      .role {
        margin-top: 30px;
      }
    }
  }
}

#project-new, #project-edit {
  padding-bottom: 30px;
  label {
    margin-top: 5px;
  }
  .active {
    background-image: linear-gradient(#009BD4, #0081B2) !important;
    color: #FFF !important;
  }

  .padded-container {
    padding: 25px 0 50px 0px;

    button {
      margin-top: 30px;
    }
  }

  .btn-save {
    float: right;
    margin: 20px 35px;
    width: 130px;
    height: 50px;
    font-size: 17px;
  }

  #type-project-buttons {
    margin: 30px 0;
    #button-group {
      label {
        background-image: linear-gradient(#FFF,#E8E8E8) !important;
        text-transform: uppercase;
        border: 0;
        font-weight: 700 !important;
        color: #016A93;
      }
      .active {
        background-image: linear-gradient(#009BD4, #0081B2) !important;
        color: #FFF !important;
      }
      height: 50px;
    }
  }
  background-color: #EFEFEF;
  h1 {
    color: #E3781E;
  }
  #project-availabilities{
    td:hover {
      background-color: #008000;
    }
  }
  .info-label {
    font-size: 12px;
  }
  .help-block {
    font-size: 12px;
  }
}

#project-availabilities {
  .table-labels {
    width: 130px;
    margin-top: 36px;
    .table-label {
      background-color: #0E6282;
      color: #FFF;
      padding: 5px 0 0 20px;
      width: 90px;
      font-size: 14px;
      font-weight: bold;
      height: 28px;
      margin-bottom: 3px;
      position: relative;
      display: inline-block;
    }
    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 14px solid rgba(0, 0, 0, 0);
      border-bottom: 14px solid rgba(0, 0, 0, 0);
      border-left: 20px solid #0E6282;
    }
  }
  table, td, th {
    border:4px solid #EEE;
  }
  tr {
    background-color: #FFF;
  }
  th {
    background-color: #EEE;
    color: #0E6282;
    text-align: center;
  }
  
  td {
    color: #0E6282;
    text-align: center;
  }
  table {
    width: 370px;
    height: 130px;
  }

}

#project-not-published {
  background-color: #0E6281;
  p {
    font-size: 18px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin: 0 0;
  }
}

#project-new {
  background: #F7FAFA;
}

.project-form {
  .menu {
    margin-top: 20px;
    text-align: center;
    ul {
      font-size: 0px;
      display: inline-block;
      margin: 0 0;
      padding: 0 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
      li {
        display: inline-block;

        a {
          color: #333;
          display: inline-block;
          font-size: 12px;
          padding: 17px 20px;
          font-weight: bold;
          background: #fff;
          border: 1px solid #d9d9de;
          border-left: none;

          &:hover {
            text-decoration: none;
          }

          i {
            margin-right: 5px;
          }

          .gray {
            color: #DDDDE2;
          }

          .green {
            color: #46cc46;
          }

          .red {
            color: #aa2323;;
          }
        }

        &.menu-active a {
          background: none;
        }

        &:first-child a {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          border-left: 1px solid #d9d9de;
        }
        &:last-child a {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
  .top-content {
    h2, h3 {
      text-align: center;
    }
    h2 {
      color: #e47f1e;
      font-size: 42px;
      font-weight: bold;
    }
    h3 {
      font-size: 22px;
      color: #555;
      font-weight: 100;
    }
  }
  .fields-container {
    background: white;
    border-radius: 6px;
    border: 1px solid #d9d9de;
    margin-top: 40px;
    padding: 40px 60px;
  }
  fieldset {
    background: #f7fafa;
    margin-top: 20px;
    padding: 15px;
    border-radius: 6px;
    &:first-child {
      margin-top: 0px;
    }

    .indicator {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #AFAFAF;
      float: right;
      margin-top: 10px;
      box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
      &.error {
        background: #FC4C4C;
      }
      &.success {
        background: #60B86E;
      }
    }

    .form-control {
      box-shadow: none;
      border-radius: 6px;
      border: 1px solid #d9d9de;
      color: #666666;

      &.short {
        width: 100px;
      }

      &:focus {
        border: 1px solid #009bd4;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #b5b5b5;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #b5b5b5;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #b5b5b5;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #b5b5b5;
      }
    }

    .date-type {
      .panel {
        padding: 15px;
        cursor: pointer;
        box-shadow: none;
      }

      .well {
        background: white;
        padding: 7px;
        box-shadow: none;
        border-radius: 6px;
        border: none;
      }
      .controls {
        margin-bottom: 20px;

        small {
          font-size: 12px;
        }
      }
    }
  }

  .dropzone {
    border: 1px dashed #d9d9de;
    border-radius: 6px;
    font-size: 12px;
    color: #666;
    b {
      color: #009AD6;
    }

  }

  ul.tags {
    margin: 10px 0 0;
    padding: 0 0;

    a {
      display: inline-block;
    }

    li {
      border-radius: 3px;
      background: #009ad6;
      padding: 8px;
      display: inline-block;
      margin-right: 7px;
      color: #fff;
      margin-bottom: 7px;

      a {
        color: #fff;
      }
    }

    &.selectable {
      font-size: 0px;

      li {
        background: #c8c8c8;
        cursor: pointer;
        margin-right: 4px;
        margin-bottom: 4px;
        font-size: 14px;
        padding: 4px 8px;
        text-align: center;

        &.tag-active {
          background: #e47f1e;
        }
      }
    }
    
    &.restrict-width {
      li {
        width: 48px; 
      }
    }
  }

  .roles {
    padding-left: 0px;
    margin-top: 25px;

    li {
      background: #e3e1e1;
      border-radius: 6px;
      padding: 5px 10px;
      font-weight: bold;

      &:not(:first-child) {
        margin-top: 15px;
      }
      
      .actions {
        float: right;
        font-weight: normal;
        font-size: 12px;

        a {
          color: rgb(124, 124, 124);

          &:first-child { margin-right: 5px; }
          &:last-child { margin-left: 5px; }
        }
      }
    }
  }

  .datepicker {
    margin-left: -15px;
    margin-right: -15px;

    table {
      margin: auto auto;
    }
  }

  .btn-success {
    border-radius: 6px;
    background: rgb(0, 154, 214) none repeat scroll 0% 0%;
    border: medium none;
    padding: 7px 13px;
    font-weight: bold;
  }

  .step-control {
    margin-top: 25px;
  }

}

.gutter-5 {
  padding: 0px 10px;

  > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
  }
}
