<div id="cpanel" ng-controller="CpanelCtrl as ctrl">
  <div class="container text-center section-padding">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-dark">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="/painel">Painel de controle</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="">Criar nova vaga</a></li>
              <li><a href="">Gerenciar vaga</a></li>
              <li><a href="">Editar perfil</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="notification-card" ng-repeat="notification in cpanel.notifications" ng-class="{ visible: notification.visible !== false }">
          <i class="fa fa-exclamation-triangle"></i>
          <b>Atenção!</b> {{notification.text}} <a href="notification.url">Veja aqui.</a>
          <button class="notification-button" ng-click="notification.visible = false">
            <i class="fa fa-remove"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div ui-view></div>
</div>
