<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <a href="/painel/vagas/nova" class="cpanel-large-action">
        <img src="{{storage}}cpanel-create-vacancie-icon.png" alt=""/>
        <h1>Criar nova vaga</h1>
      </a>
      <a href="/painel/vagas" class="cpanel-large-action">
        <img src="{{storage}}cpanel-manage-icon.png" alt=""/>
        <h1>Gerenciar vagas</h1>
      </a>
      <a href="/painel/perfil/editar" class="cpanel-large-action">
        <img src="{{storage}}cpanel-edit-icon.png" alt=""/>
        <h1>Editar perfil</h1>
      </a>
    </div>
  </div>
</div>
