<section id="edital-coral" class="col-md-12">
	<div class="row">
		<section id="banner" class="col-md-12">
		    <h1 class="text-center">Edital Quadras Inesperadas</h1>
		    <h2 class="text-center">
		    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et vulputate est, ut congue lacus.
		    	<br />
		    	Phasellus quis risus vel nisi vehicula ultrices nec eu turpis.
		    </h2>
		    <a href="#content">
			    <div id="arrow-down">
			    	<img src="https://s3.amazonaws.com/atados-us/images/seta.png">
			    </div>
			</a>
		</section>
		<section id="content" class="col-md-8 col-md-offset-2">
			<h3>
				SOBRE O PROJETO
			</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae sapien purus. Praesent commodo est felis, at egestas augue dignissim vel. Etiam sit amet odio finibus, sollicitudin lacus ut, tincidunt massa. Nullam hendrerit, nisl ut mattis rhoncus, massa felis imperdiet lectus, vitae blandit sapien mi sit amet justo. Aenean scelerisque ex a enim tincidunt pulvinar. Nulla fringilla libero venenatis nibh tincidunt tempus. Praesent gravida ut nisi quis imperdiet. Nullam id malesuada urna. Quisque eleifend consequat sollicitudin. Morbi vestibulum ex et fermentum bibendum. Phasellus ac feugiat nisi. Integer quis nulla ut ligula mollis auctor malesuada nec dui.
			</p>
			<p>
				Donec at fermentum ex, semper condimentum sapien. Nam condimentum massa nulla, quis mollis nisl efficitur a. Nunc tincidunt fermentum felis, ut tristique ex hendrerit sit amet. Aenean vehicula orci in libero bibendum, non porttitor purus consequat. Quisque imperdiet, ligula eget scelerisque maximus, turpis lorem vestibulum lectus, eu lacinia felis erat a ex. Suspendisse vestibulum hendrerit nunc quis suscipit. Donec tellus urna, scelerisque at leo vitae, posuere vehicula tortor.
			</p>
			<h3>
				COMO FUNCIONA?
			</h3>
			<p>
				Donec at fermentum ex, semper condimentum sapien. Nam condimentum massa nulla, quis mollis nisl efficitur a. Nunc tincidunt fermentum felis, ut tristique ex hendrerit sit amet.
			</p>
			
			<div class="wrapper-video"><iframe src="https://www.youtube.com/embed/LafqsEo77pI?ecver=2" width="640" height="360" frameborder="0" class="video" allowfullscreen></iframe></div>
			
			<p class="edital-link">
				<a href="" class="edital-button">
					INSCREVA-SE NO EDITAL
				</a>
			</p>
			<p class="edital-link">
				<a href="#">
					Leia aqui o edital
				</a>
			</p>

		</section>
	</div>
</div>