<section id="edital-coral" class="col-md-12">
	<div class="row">
		<section id="banner" class="col-md-12">
		    <h1 class="text-center">Edital Quadras Inesperadas</h1>
		    <h2 class="text-center">
		    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et vulputate est, ut congue lacus.
		    	<br />
		    	Phasellus quis risus vel nisi vehicula ultrices nec eu turpis.
		    </h2>
		    <a href="#content">
			    <div id="arrow-down">
			    	<img src="https://s3.amazonaws.com/atados-us/images/seta.png">
			    </div>
			</a>
		</section>
		<section id="content" class="col-md-8 col-md-offset-2">
			<h3>
				SOBRE O PROJETO
			</h3>
			<p>
				Em parceria com Tintas Coral, queremos levar quadras inesperadas e modalidades alternativas para organizações sociais e os locais em que elas atuam. Por isso, lançamos o Quadras Inesperadas: descubra a sua! Um projeto que celebra o esporte em qualquer hora e lugar. Conheça as modalidades para se inspirar e faça sua inscrição!
			</p>
			<div class="wrapper-video"><iframe src="https://www.youtube.com/embed/LafqsEo77pI?ecver=2" width="640" height="360" frameborder="0" class="video" allowfullscreen></iframe></div>
			<h3>
				DESCUBRA A SUA VAGA
			</h3>
			<p>
				O Quadras Inesperadas é uma iniciativa do Movimento Tudo de Cor, criado e encabeçado pela Tintas Coral, que utiliza pouca tinta e muita criatividade para descobrir e colorir “quadras” em locais inesperados. A ação também dissemina outros esportes paralelos ao futebol, como vôlei, tênis, golbol, hockey, basquete, corrida, rugby e tênis de mesa, entre outros. Veja exemplos de quadras que já foram pintadas por aí!
			</p>
			<h3>
				COMO FUNCIONA?
			</h3>
			<p class="last-paragraph">
				Após inscrever sua organização, vamos solicitar imagens e algumas informações dos locais que você escolheu para pintar sua Quadra Inesperada. Depois disso, é só torcer e aguardar pelo resultado final. Os locais escolhidos vão receber tintas e equipamento de pintura para executar a ação. Não esqueça de criar vagas no Atados para mobilizar voluntários!
			</p>
						
			<p class="edital-link">
				<a href="https://docs.google.com/forms/d/e/1FAIpQLScyJtKnUBLlTDNQmka4o_OyMbwkKfwNWxMxdwTGRjDjUxb7gA/viewform?usp=sf_link" class="edital-button" target="_blank">
					INSCREVA-SE NO EDITAL
				</a>
			</p>
			<p class="edital-link">
				<a href="https://s3.amazonaws.com/atados-us/arquivos/EDITAL_QUADRAS_INESPERADAS_2017.pdf" download>
					Leia aqui o edital
				</a>
			</p>

		</section>
	</div>
</div>