<section id="edital-coral" class="col-md-12">
	<div class="row">
		<section id="banner" class="col-md-12">
		    <h1 class="text-center">Quadras Inesperadas - Descubra a sua!</h1>
		    <h2 class="text-center">
		    	Concorra a tintas para pintar uma quadra diferente na sua organização. Faça sua inscrição!
		    </h2>
		    <a href="#content">
			    <div id="arrow-down">
			    	<img src="https://s3.amazonaws.com/atados-us/images/seta.png">
			    </div>
			</a>
		</section>
		<section id="content" class="col-md-8 col-md-offset-2">
			<h3>
				SOBRE O PROJETO
			</h3>
			<p>
				Em parceria com <a href="https://www.coral.com.br/pt" target="_blank">Tintas Coral</a>, queremos levar quadras inesperadas e modalidades alternativas para organizações sociais e os locais em que elas atuam. Por isso, lançamos o <b>Quadras Inesperadas: descubra a sua!</b> Um projeto que celebra o esporte em qualquer hora e lugar. Conheça as modalidades para se inspirar e faça sua inscrição até o dia <b>22/08/2017!</b>
			</p>
			<div class="wrapper-video"><iframe src="https://www.youtube.com/embed/LafqsEo77pI?ecver=2" width="640" height="360" frameborder="0" class="video" allowfullscreen></iframe></div>
			<h3>
				DESCUBRA A SUA QUADRA
			</h3>
			<p>
				O Quadras Inesperadas é uma iniciativa do Movimento Tudo de Cor, criado e encabeçado pela Tintas Coral, que utiliza pouca tinta e muita criatividade para descobrir e colorir “quadras” em locais inesperados, como vielas, escadas, ladeiras, pátios e outros espaços que podem ser melhor aproveitados . A ação também dissemina outros esportes paralelos ao futebol, como vôlei, tênis, golbol, hockey, basquete, corrida, rugby e tênis de mesa, entre outros. <a href="https://www.coral.com.br/pt/artigos/tudo-de-cor-apresenta-quadras-inesperadas" target="_blank">Veja exemplos de quadras que já foram pintadas por aí!</a>
			</p>
			<h3>
				COMO FUNCIONA?
			</h3>
			<p class="last-paragraph">
				Após inscrever sua organização, vamos solicitar imagens e algumas informações dos locais que você escolheu para pintar sua Quadra Inesperada. Depois disso, é só torcer e aguardar pelo resultado final. Os locais escolhidos vão receber tintas e equipamento de pintura para executar a ação. Não esqueça de criar vagas no Atados para mobilizar voluntários!
			</p>
						
			<p class="edital-link">
				<a href="https://docs.google.com/forms/d/e/1FAIpQLScyJtKnUBLlTDNQmka4o_OyMbwkKfwNWxMxdwTGRjDjUxb7gA/viewform?usp=sf_link" class="edital-button" target="_blank">
					INSCREVA-SE NO EDITAL
				</a>
			</p>
			<p class="edital-link">
				<a href="https://s3.amazonaws.com/atados-us/arquivos/EDITAL_QUADRAS_INESPERADAS_2017.pdf" download>
					Leia aqui o edital
				</a>
			</p>

		</section>
	</div>
</div>