<div class="joined-project">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2">
        <div class="panel panel-default first-panel">
          <div class="panel-body text-center ">
            Parabéns! Sua inscrição foi realizada com sucesso! Aguarde o contato da ONG.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <div class="panel panel-default second-panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-push-1">
                <h2>Sua inscrição foi realizada com sucesso!</h2>
                <h3>Em breve a ONG entrará em contato. Você também pode checar seu email e entrar em contato pelo email ou telefone que te enviamos.</h3>
                <p>Ah, aproveitando que você já tá aqui...<br>
                  A gente quer continuar mobilizando muitas pessoas para causas sociais. Tudo sempre de graça ;-)<br>
                  Mas, para multiplicar nosso trabalho, precisamos do seu apoio.</p>
                <a href="http://multiplicar.atados.com.br" class="btn btn-primary">Descubra como ajudar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
