<div class="joined-project">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <div class="panel panel-default second-panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-push-1">
                <h1>Sua inscrição no Dia das Boas Ações foi realizada com sucesso!</h1>
                <h2>Em breve a ONG entrará em contato com você. </h2>
                <p>Você receberá um email de confirmação com os contatos da ONG, caso queira falar diretamente com eles.</p>
                <br>
                <p>Acesse o site do Dia das Boas Ações clicando no botão abaixo e descubra mais ações como essa!</p>
                <a href="http://global.good-deeds-day.org/br" target="_blank" class="btn btn-primary">Dia das Boas Ações</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
