<div class="joined-project">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2">
        <div class="panel panel-default first-panel">
          <div class="panel-body">
            Parabéns! Sua inscrição foi realizada com sucesso! Aguarde o contato da ONG.
          </div>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <div class="panel panel-default second-panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-push-1">
                <h2>#3ANOSDE<b>ATADOS</b></h2>
                <h3>O <b>Atados</b> está completando 3 anos de vida.<br>3 anos de transformações e muitas conexões!</h3>
                <p>Queremos continuar mobilizando cada vez mais pessoas para causas sociais, para isso precisamos do seu apoio. A partir de R$ 30,00/mês você ajuda a <b>multiplicar</b> nossa atuação!</p>
                <a href="http://doar.atados.com.br" class="btn btn-primary">FAÇA SUA DOAÇÃO</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
