<div class="joined-project">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <div class="panel panel-default second-panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-push-1">
                <h1>Sua inscrição foi realizada com sucesso!</h1>
                <h2>Em breve a ONG entrará em contato com você. </h2>
                <p>Você receberá um email de confirmação com os contatos da ONG, caso queira falar diretamente com eles.</p>
                <br>
                <p>Queremos continuar mobilizando muitas pessoas para causas sociais, sempre de graça! ;-)</p>
                <p>Nos ajude a multiplicar nosso trabalho clicando no botão abaixo.</p>
                <a href="http://multiplicar.atados.com.br" class="btn btn-primary">Descubra como ajudar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
