<div class="modal-dialog modal-form-news">
  <img src="{{storage}}modal-exit-icon.png" alt="" class="modal-form-news-close-button" id="modal-form-news-close-button">
  <div class="modal-body">
    <div class="modal-form-news-content">
      <img src="{{storage}}modal-news-icon.png" alt="">
      <h1>Não achou a vaga ideal para você?</h1>
      <h3><b>Inscreva-se na nossa news</b> e receba vagas selecionadas no email:</h3>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Escreva seu email aqui">
          </div>
          <div class="col-md-4">
            <button class="btn">Enviar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
