<div id="nonprofit-admin" class="row">
  <div class="col-sm-offset-1">
    <div class="col-sm-9">
      <p tooltip="Atados está analizando a sua ONG para ser aprovada no site. Espere um pouco e entraremos em contato :)" ng-show="!nonprofit.published" class="label label-danger">
      ONG em processo de revisão
      </p>
      <h1>Controle de Vagas e Voluntários</h1>
    </div>

    <button id="edit-nonprofit-button" class="btn btn-large btn-info" ui-sref="root.nonprofitedit({slug: nonprofit.slug})">Editar ONG</button>
    <button id="new-project-button" class="btn btn-info btn-large" ui-sref="root.newproject({id: nonprofit.slug})">Criar Nova Vaga</button>

    <p class="col-xs-12"> Lista de vagas <span style="color: #58b957">abertas</span>, <span style="color: #db524b">fechadas</span> e <span style="color: #f2ae43">não aprovadas</span>.</p>
    <div id="project-management" ng-hide="nonprofit.projects.length === 0">
      <div class="col-md-4" id="project-list">
        <button class="btn col-md-12" ng-repeat="project in nonprofit.projects" ng-class="{choosenProject: project===activeProject}" ng-click="changeActiveProject(project)" >
          <span ng-if="project.volunteers">
            <span ng-style="project.statusStyle" class="badge">{{project.volunteers.length | number}}</span>
          </span>
          <span ng-if="!project.volunteers">
            <span ng-style="project.statusStyle" class="badge">0</span>
          </span>
          {{project.name}}
        </button>
      </div>
      <div class="col-md-7" id="active-project">
        <div id="project-name">
          <h3>
            <a ui-sref="root.project({slug: activeProject.slug})">{{activeProject.name}}</a>
            <span tooltip="Vaga não pode mais receber voluntários mas ainda está visivel na internet." ng-show="activeProject.closed && activeProject.published" class="pull-right label label-danger">Vaga Finalizada</span>
            <span tooltip="Aberta para o público da internet ver e se voluntariar!" ng-show="!activeProject.closed && activeProject.published" class="pull-right label label-success">Vaga Aberta</span>
            <span tooltip="O pessoal do Atados está analisando a sua Vaga e já entrará em contato!" ng-show="!activeProject.published" class="pull-right label label-warning">Vaga em aprovação</span>
          </h3>
        </div>
        <div id="project-action-buttons">
          <a ng-click="editProject(activeProject)" id="edit-project"><i class="fa fa-edit"></i> Editar Vaga</a>

          <a id="clone-project" class=""
            ng-click="cloneProject(activeProject)"
            ng-disabled="cloningProject"
          ><i class="fa fa-copy"></i> Duplicar Vaga</a>

          <a id="close-project"
            ng-click="closeOrOpenProject(activeProject)"
            ng-hide="activeProject.closed || !activeProject.published"
            ng-disabled="closingOrOpeningProject"
          ><i class="fa fa-times-circle-o"></i> Fechar Inscrições</a>
          <a id="open-project"
            ng-click="closeOrOpenProject(activeProject)"
            ng-show="activeProject.closed && activeProject.published"
            ng-disabled="closingOrOpeningProject"
          ><i class="fa fa-times-circle-o"></i> Abrir Inscrições</a>
          <a href="{{activeProject.emailAllString}}" target="_blank" id="send-email-all"><i class="fa fa-envelope-o"></i> Enviar Email para todos</a>
          <a id="export-list"
            ng-click="exportList(activeProject)"
          ><i class="fa fa-table"></i> Exportar lista como planilha</a>
        </div>
        <table class="table table-striped" id="project-volunteer-table">
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Status</th>
          </tr>
          <tr ng-repeat="volunteer in activeProject.volunteers">
            <td>{{volunteer.name}}</td>
            <td>
              {{volunteer.email}}
              <a href="mailto:{{volunteer.email}}" target="_blank" class="pull-right" id="send-email-button"><i tooltip="Mande email só para esse voluntário" class="fa fa-envelope-o"></i></a>
            </td>
            <td>{{volunteer.phone}}</td>
            <td>
              <li class="dropdown">
              <a class="dropdown-toggle" ng-style="volunteer.statusStyle">
                {{volunteer.status}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="status in volunteerStatusOptions">
                <a
                  ng-click="changeVolunteerStatus(volunteer, status)"
                  ng-disabled="changingVolunteerStatus">{{status}}</a>
                </li>
              </ul>
              </li>
            </td>
          </tr>
        </table>
        <p class="center" ng-hide="activeProject.volunteers">Essa vaga não tem voluntários.</p>
      </div>
    </div>
  </div>
</div>
