<div class="card-outer" ng-class="{true: 'col-lg-3 col-md-4 col-sm-5 col-xs-12',  false: 'col-lg-4 col-sm-6 col-xs-12'}[landing]" ng-mouseenter="selectMarker(null, project)" ng-mouseleave="removeMarker(null, project)" itemscope>
  <div class="card center-block" id="card-{{project.slug}}">
    <div class="card-img">
      <div class="card-description">
        <a ui-sref="root.project({slug: project.slug})">
          <p>{{project.description}}</p>
        </a>
      </div>
      <div class="gdd-label" ng-if="project.gdd"></div>
      <div ng-if="! project.gdd" style="height: 170px; background: url('{{ project.small_image_url }}') no-repeat center center / cover">
      </div>
      <div ng-if="project.gdd" style="height: 170px; background: url('{{ project.gdd_image }}') no-repeat center center / cover">
      </div>
    </div>
    <div class="card-footer clearfix">
      <a class="card-name" ui-sref="root.project({slug: project.slug})"><h4>{{ project.name}}</h4></a>
      <div class="row card-quick-info">
        <a ng-if="! project.gdd" ui-sref="root.nonprofit({slug: project.nonprofit_slug})" class="nonprofit-img">
          <div width="60" style="height: 50px; background: url('{{ project.nonprofit_image }}') no-repeat center center / contain">
          </div>
        </a>
        <div class="nonprofit-img">
          <div ng-if="project.gdd" width="60" style="height: 50px; background: url('{{ project.gdd_org_image }}') no-repeat center center / contain">
          </div>
        </div>
        <span>
          <a ng-if="! project.gdd" ui-sref="root.nonprofit({slug: project.nonprofit_slug})"><p class="nonprofit-name"><strong>{{project.nonprofit_name}}</strong></p></a>
          <p ng-if="project.gdd" class="nonprofit-name"><strong>{{project.gdd_org_name}}</strong></p>
          <p class="card-local" ng-show="project.city_state"><i class="fa fa-map-marker"></i>
            <span ng-switch="project.work.can_be_done_remotely">
              <span ng-switch-when="true">
                Trabalho à Distância
              </span>
              <span ng-switch-default>
                {{ project.city_state }}
              </span>
            </span>
          </p>
        </span>
      </div>
      <div class="row card-second">
        <div class="card-date col-xs-9">
          <strong ng-if="project.work"><i class="fa fa-refresh"></i> Vaga Recorrente</strong>
          <strong ng-if="project.job && project.job.start_date"><i class="fa fa-calendar"></i> {{project.job.start_date | date: 'longDate'}}</strong>
          <strong ng-if="project.job && !project.job.start_date && project.job.end_date"><i class="fa fa-calendar"></i> {{project.job.end_date | date: 'longDate'}}</strong>
        </div>
        <div ng-if="! project.gdd" class="card-volunteer center col-xs-3">
          <span><i tooltip="Número de voluntários que já se ataram." class="fa fa-user"></i> {{project.volunteers_numbers}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
