<section id="edital-coral" class="col-md-12" ng-controller="QuadrasCoralCtrl">
	<div class="row">
		<section id="banner" class="col-md-12">
		    <h1 class="text-center">Quadras Inesperadas - Descubra a sua!</h1>
		    <h2 class="text-center">
		    	Participe da pintura de uma Quadra Inesperada e colabore para uma ONG concorrer à revitalização da fachada de sua sede.
		    </h2>
		    <a href="#content">
			    <div id="arrow-down">
			    	<img src="https://s3.amazonaws.com/atados-us/images/seta.png">
			    </div>
			</a>
		</section>
		<section id="content" class="col-md-8 col-md-offset-2">
			<h3>
				CONFIRA AS VAGAS
			</h3>
			<div class="row">
    			<div class="col-sm-12">
    				<div class="clearfix">
						<project-card ng-repeat="project in projects"></project-card>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>