<div id="small-top" class="navbar navbar-default">
  <ul class="navbar-right navbar-collapse" ng-show="hide_header" style="height: 30px;"></ul>
  <ul class="navbar-right navbar-collapse" ng-show="!hide_header">
    <li class="hide-small"><a ui-sref="root.about">Sobre Nós</a></li>
    <li class="hide-small"><a href="http://empresas.atados.com.br">Serviços para empresas</a></li>
    <!--<li class="hide-small"><a href="#">Contato</a></li>-->
    <li ng-hide="loggedUser" class="guest"><a href="#" ng-click="openLogin('volunteer')">Login</a></li>
    <form class="navbar-form navbar-right" ng-show="loggedUser" style="margin: 0;">
      <li class="dropdown logged" ng-show="loggedUser.role=='VOLUNTEER'">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ loggedUser.slug }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="root.volunteer({slug: loggedUser.slug})">Meu perfil</a></li>
          <li><a ui-sref="root.volunteeredit">Editar perfil</a></li>
          <li><a ng-click="logout()">Sair</a></li>
        </ul>
      </li>
    </form>

    <form class="navbar-form navbar-right" ng-show="loggedUser" style="margin: 0;">
      <li class="dropdown logged" ng-show="loggedUser.role=='NONPROFIT'">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ loggedUser.name }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="root.nonprofit({slug: loggedUser.slug})">Perfil da ONG</a></li>
          <li><a ui-sref="root.nonprofitedit({slug: loggedUser.slug})">Editar ONG</a></li>
          <li><a ui-sref="root.nonprofitadmin({slug: loggedUser.slug})">Painel de controle</a></li>
          <li><a ui-sref="root.newproject({id: loggedUser.id})">Criar Ato</a></li>
          <li><a ng-click="logout()">Sair</a></li>
        </ul>
      </li>
    </form>
  </ul>
</div>

<div id="we-love-you">
  <span class="part-circle"></span>
  <div class="part">
    <img src="https://s3-sa-east-1.amazonaws.com/atadosapp/images/3anos.png" alt="">
  </div>
  <div class="part">
    <div class="triangle"></div>
    <p>Olá, você sabia que o Atados vem conectando pessoas e organizações sociais, há 3 anos, de maneira gratuita? E, adivinha. Sempre será assim! Mas precisamos da sua ajuda para crescer!</p>
  </div>
  <div class="part">
    <div class="triangle white"></div>
    <p>Escolha um valor mensal e ajude<br>a <b>multiplicar</b> nossa atuação: <br>
      <a href="http://multiplicar.atados.com.br">
        <input type="button" class="btn btn-default" value="Faça sua doação">
      </a>
    </p>
  </div>
  <a href="#" class="close" ng-click="$root.toggleHeader()">&times;</a>
</div>

<div id="top" class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-inner">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="navCollapsed = !navCollapsed" ng-show="!hide_header">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="root.home">Atados</a>
    </div>
    <div ng-show="!hide_header">
      <div class="collapse navbar-collapse" id="navbar-collapse-1" collapse="!navCollapsed">
        <ul class="nav navbar-nav">
          <li><a ui-sref="root.explore">Descubra Atos</a></li>
          <li><a ui-sref="root.nonprofitsignup" ng-show="!loggedUser">Mobilize Voluntários</a></li>
          <!--<li><a href="#">Como Funciona</a></li>-->
          <li><a ui-sref="root.about" class="hidden-md hidden-lg">Sobre Nós</a></li>
          <li><a href="http://servicos.atados.com.br" class="hidden-md hidden-lg">Empresas</a></li>
          <li><a href="http://multiplicar.atados.com.br" class="btn-contribute hidden-md hidden-lg">Doar</a></li>
          <!--<li><a href="#" class="hidden-md hidden-lg">Contato</a></li>-->
        </ul>
        <form class="navbar-form navbar-right hidden-xs hidden-sm" role="search" ng-submit="siteSearch()" ng-hide="explorerView">
          <a href="http://multiplicar.atados.com.br" class="btn-contribute hidden-xs-inline-block hidden-sm-inline-block">Doar</a>
          <input id="siteSearch" class="form-control" ng-model="search.landingQuery" type="text" placeholder="Encontre ONGs e atos voluntários">
          <button id="searchIcon"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

<div ui-view class="main"></div>

<div id="footer" ng-hide="explorerView || hide_footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li><a ui-sref="root.about">Sobre Nós</a></li>
          <li><a href="https://medium.com/@Atados" target="_blank">Blog</a></li>
          <li><a href="http://empresas.atados.com.br">Serviços para empresas</a></li>
          <!--<li><a href="#">FAQ</a></li>
          <li><a href="#">Contato</a></li>-->
          <li><a href="#" ng-click="openTermsModal()">Termos de Uso e Políticas de Privacidade</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="fb-like-box" 
             data-href="http://www.facebook.com/atadosjuntandogenteboa" 
             data-width="340" data-colorscheme="light" data-show-faces="true" 
             data-header="false" data-stream="false" data-show-border="false" style="margin: 15px auto;"></div>

      </div>
      <div id="open-source" class="col-xs-12">
        <p class="center-block"><b>{{site.copyright}}</b> é um projeto Open Source <a href="https://www.github.com/atados"><i class="fa fa-github"></i></a>, feito com carinho <i style="color:red;" class="fa fa-heart"></i></p>
      </div>
    </div>
  </div> <!-- End of container -->
</div>
