<div id="nonprofit-signup-splash">
  <div id="nonprofit-signup">
    <div class="container">
    <div class="page-header">
      <h1>Quem você representa?</h1>
      <h2>Escolha a opção mais adequada</h2>
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-push-2 col-md-push-3">
          <a class="btn btn-primary btn-lg" href="">Sou uma ONG</a>
          <a class="btn btn-primary btn-lg" href="">Não sou uma ONG</a>
        </div>
      </div>
     </div>
  </div>
</div>
