<div class="card-outer" ng-class="{true: 'col-lg-3 col-md-4 col-sm-5 col-xs-12',  false: 'col-lg-4 col-sm-6 col-xs-12'}[landing || gdd]" ng-mouseenter="selectMarker(null, project)" ng-mouseleave="removeMarker(null, project)" itemscope>
  <div class="card center-block" id="card-{{project.slug}}">
    <div class="card-img">
      <div class="card-description"> 
        <a ui-sref="gdd.project({slug: project.slug})">
          <p>{{project.description}}</p>
        </a>
      </div>
      <div style="height: 170px; background: url('{{ project.small_image_url }}') no-repeat center center / cover">
      </div>
    </div>
    <div class="card-footer clearfix">
      <div class="row card-quick-info">
        <h4>{{ project.name}}</h4>
        <a ui-sref="gdd.nonprofit({slug: project.nonprofit_slug})" class="nonprofit-img">
          <div width="65" style="height: 65px; background: url('{{ project.nonprofit_image }}') no-repeat center center / contain">
          </div>
        </a>
        <span>
          <a ui-sref="gdd.nonprofit({slug: project.nonprofit_slug})"><p class="nonprofit-name"><strong>{{project.nonprofit_name}}</strong></p></a>
          <p class="card-local" ng-show="project.city_state">
            <span ng-switch="project.work.can_be_done_remotely">
              <span ng-switch-when="true">
                Trabalho à Distância
              </span>
              <span ng-switch-default>
                {{ project.city_state }}
              </span>
            </span>
          </p>
          <span class="volunteers-amount"><img src="https://s3-sa-east-1.amazonaws.com/atadosapp/images/dba-user.png" class="fa fa-user"></i> {{project.volunteers_numbers}} voluntário(s)</span>
        </span>
      </div>
    </div>
  </div>
</div>
