<div class="gdd-container">
  <!--<div id="top" class="navbar navbar-default navbar-fixed-top navbar-inverse top-transparent" role="navigation" toptransparent>-->
  <div id="top" class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-inner">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="navCollapsed = !navCollapsed" ng-show="!hide_header">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="gdd.home">Atados</a>
        </div>
        <div ng-show="!hide_header">
          <div class="collapse navbar-collapse" id="navbar-collapse-1" collapse="!navCollapsed">
            <ul class="nav navbar-nav navbar-right">
              <li><a ui-sref="gdd.home">Início</a></li>
              <li><a ui-sref="gdd.explore">Participe das Ações</a></li>
              <li><a ui-sref="gdd.nonprofitsignup" ng-show="!loggedUser">Inscreva uma ação</a></li>
              <li><a ui-sref="gdd.newproject" ng-show="loggedUser.role=='NONPROFIT'">Inscreva sua ação</a></li>
              <li><a ui-sref="gdd.ideas">Ideias de boas ações</a></li>
              <li><a href="http://gdd.goodnet.org/pt#downloads-section" target="_blank">Downloads</a></li>
              <li ng-show="loggedUser.role=='NONPROFIT'"><a ui-sref="gdd.nonprofitadmin({slug: loggedUser.slug})">Minhas ações</a></li>
              <li ng-hide="loggedUser"><a href="#" ng-click="openLogin('volunteer')">Login</a></li>
              <li ng-show="loggedUser"><a href="#" ng-click="logout()"><img src="https://s3-sa-east-1.amazonaws.com/atadosapp/images/login-dba.png" alt=""></a></li>
              <!--<li><a href="#">Como Funciona</a></li>-->
              <li><a ui-sref="root.about" class="hidden-md hidden-lg">Sobre Nós</a></li>
              <li><a href="http://servicos.atados.com.br" class="hidden-md hidden-lg">Empresas</a></li>
              <!--<li><a href="#" class="hidden-md hidden-lg">Contato</a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ui-view class="main" autoscroll="true"></div>

  <div id="footer" ng-hide="explorerView || hide_footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h6>Acompanhe</h6>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/DiadasBoasAcoes" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h6>Inscreva-se para novidades</h6>
          <form action="" ng-submit="sendNews($event)">
            <div class="input-group">
              <input type="text" class="news form-control" ng-model="news.email">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Enviar</button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <h6>Entre em contato</h6>
          <a class="mail" href="mailto:diadasboasacoes@atados.com.br">diadasboasacoes@atados.com.br</a>
        </div>
        <div class="col-xs-12 text-right">
          <span class="realization">Realização:</span> <div class="atados-logo"></div>
        </div>
      </div>
    </div> <!-- End of container -->
  </div>
</div>


