<div id="home" ng-controller="LandingCtrl as ctrl">
  <carousel interval="7000">
    <slide
      ng-repeat="banner in banners"
      active="banner.active"
      background-img="{{banner.image_url}}"
      class="jumbotron"
    >
      <div class="jumbotron-header">
        <h1 class="text-center" ng-bind-html="banner.title | newlines"></h1>
        <p class="text-center" ng-bind-html="banner.text | newlines"></p>
      </div>
      <div class="jumbotron-buttons" ng-if="banner.link">
        <a ng-href="{{banner.link}}" class="btn btn-primary btn-lg" role="button">{{banner.link_text}}</a>
      </div>
    </slide>
  </carousel>

  <div id="atados-explorer">
    <atados-search></atados-search>
  </div>

  <div id="landing-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <div class="wrapper">
            <h3>O atados em números</h3>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-12">
                <div class="info">
                  <span class="number">{{ numbers().projects | number }}</span>
                  <span class="name"><b>Oportunidades</b> de voluntariado</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-12">
                <div class="info">
                  <span class="number">{{numbers().volunteers | number}}</span>
                  <span class="name"><b>Pessoas</b> inscritas</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-12">
                <div class="info">
                  <span class="number">{{numbers().nonprofits | number}}</span>
                  <span class="name"><b>Organizações</b> cadastradas</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="wrapper wrapper-news">
            <h2>Receba vagas e novidades</h2>
            <p>Inscreva-se na nossa <b>Newsletter</b> e receba as vagas que estão rolando.</p>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
                <input type="text" class="form-control" placeholder="Seu nome" ng-model="news.name">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
                <input type="text" class="form-control" placeholder="Seu email" ng-model="news.email">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 margin-bottom-xs col-sm-7 col-sm-push-1 col-md-5 col-md-push-2">
                <input required g-places-autocomplete autocomplete="off" type="text" class="form-control" name="address" ng-model="news.address.addr" placeholder="Cidade">
              </div>
              <div class="col-xs-12 col-sm-3 col-sm-push-1 col-md-3 col-md-push-2">
                <input type="submit" value="Manda!" class="btn btn-default" ng-click="add_to_news()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="we-are-what-we-do container">
    <div class="col-xs-12">
      <h3>Somos o que fazemos</h3>
      <h4>Conheça os projetos que fizemos acontecer</h4>

      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <a href="#" ng-click="open_video('hBOsSsyYJS0')">
            <div class="box world-cup">
              <div class="overlay">
                <div class="title">Copa do mundo<br>dos refugiados</div>
                <div class="subtitle">Diversidade / Refugiados</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a href="#" ng-click="open_video('5kwSx-cZFT8')">
            <div class="box marriage">
              <div class="overlay">
                <div class="title">Casamento<br>Isabel e Agenor</div>
                <div class="subtitle">Idosos</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="#" ng-click="open_video('LWysns2D4XI')">
            <div class="box feminicidade">
              <div class="overlay">
                <div class="title">Feminicidade</div>
                <div class="subtitle">Empoderamento feminino</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="#" ng-click="open_video('_ZdaK8Qzo5U')">
            <div class="box face-and-book">
              <div class="overlay">
                <div class="title">Carta e Livro</div>
                <div class="subtitle">Crianças / Educação</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="#" ng-click="open_video('6IGWdnppm1Y')">
            <div class="box no-hunger-city">
              <div class="overlay">
                <div class="title">Cidades<br>sem Fome</div>
                <div class="subtitle">Trabalho Comunitário</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div id="parceirosMidia">
    <div class="container">
      <h3 class="col-xs-12">O que andam falando de nós?</h3>
      <a href="http://www1.folha.uol.com.br/empreendedorsocial/2014/12/1546391-cinco-universitarios-criam-site-que-ajuda-a-achar-trabalho-voluntario.shtml">
        <img class="img-logo" target="_blank" ng-src="{{storage}}folha.png" alt="Logo da revista Folha."></a>
      <a href="http://www.estadao.com.br/noticias/geral,seis-selecoes-decidem-o-titulo-da-copa-dos-refugiados,1520678">
        <img class="img-logo" target="_blank" ng-src="{{storage}}estadao.png" alt="Logo do Estadão."></a>
      <a href="http://exame.abril.com.br/marketing/noticias/projeto-olhar-chivas-invade-as-ruas-de-sao-paulo-e-recife">
        <img class="img-logo" target="_blank" ng-src="{{storage}}exame.png" alt="Logo da revista Exame."></a>
      <a href="http://vejasp.abril.com.br/materia/aulas-idiomas-refugiados-abraco-cultural/">
        <img class="img-logo" target="_blank" ng-src="{{storage}}vejasp.png" alt="Logo da revista Veja."></a>
      <a href="http://revistatrip.uol.com.br/transformadores/blogs/triptransformadores/2013/06/19/criando-lacos.html">
        <img class="img-logo" target="_blank" ng-src="{{storage}}trip.png" alt="Logo da Trip Transformadora."></a>
      <a href="http://epoca.globo.com/vida/noticia/2013/12/classificados-bpara-fazer-o-bemb.html">
        <img class="img-logo" target="_blank" ng-src="{{storage}}epoca.png" alt="Logo da Época."></a>
      <a href="http://epoca.globo.com/vida/noticia/2013/12/classificados-bpara-fazer-o-bemb.html">
        <img class="img-logo" target="_blank" ng-src="{{storage}}globo.png" alt="Logo da Globo."></a>
      <a href="http://www.bbc.com/portuguese/noticias/2014/07/140702_copa_refugiados_vale_cc_rb">
        <img class="img-logo" target="_blank" ng-src="{{storage}}bbc.png" alt="Logo da BBC."></a>
      <a href="https://catracalivre.com.br/geral/cidadania/indicacao/rede-social-atados-alavanca-oportunidades-de-trabalho-voluntario/">
        <img class="img-logo" target="_blank" ng-src="{{storage}}catraca.png" alt="Logo da Catraca Livre."></a>
      <a href="https://www.youtube.com/watch?v=6kwSx-cZFT8">
        <img class="img-logo" target="_blank" ng-src="{{storage}}imagina-copa.png" alt="Logo do Imagina na Copa."></a>
    </div>
  </div>
</div>

<script type="text/ng-template" id="modalVideo.html">
    <div class="modal-header">
        <h3 class="modal-title">Espero que goste!</h3>
    </div>
    <div class="modal-body no-padding">
      <div class="ratio" style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%; display: block;">
        <iframe style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: block;" src="{{url | trusted}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="close_video()">Fechar</button>
    </div>
</script>
