<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-controller="AppCtrl"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" ng-controller="AppCtrl"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" ng-controller="AppCtrl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-controller="AppCtrl">
  <!--<![endif]-->
  <!--
    Oooo xereta, tá fuçando por aqui é?
    Quer dizer então que você gosta de programação e essas paradas?
    Que acha de usar essa sua habilidade única pra fazer um trabalho voluntário?
    Tem um monte de ONGs e projetos precisando de "nerdões" como nós!
    Explore nossas vagas no filtro Informática / Eletrônica =)
  -->
  <head>
    <base href="/" />
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="site.title">Atados - Juntando Gente boa</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph objects-->
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:type" content="{{site.og.type}}" />
    <meta property="og:url" content="{{site.og.url}}" />
    <meta property="og:image" content="{{site.og.image}}" />
    <meta property="og:description" content="{{site.description}}" />
    <!-- End of Open Graph -->

    <link rel="shortcut icon" href="https://www.atados.com.br/favicon.ico" />

    <!-- build:css(app) /styles/vendor.css -->
    <!-- <link rel="stylesheet" href="/bower_components/toastr/toastr.css" /> -->
    <!-- <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" /> -->
    <!-- <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.min.css" /> -->
    <!-- endbuild -->

    <link rel="stylesheet" type="text/css" href="/atados.css">

    <!--[if lt IE 7]>
      <div class="alert">
        <p class="browsehappy">Você está usando um navegador <strong>antiquado</strong>. Por favor <a href="https://www.google.com/intl/pt/chrome/browser/">atualize seu navegador</a> para melhorar sua experiencia na web.</p>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="/bower_components/es5-shim/es5-shim.js"></script>
      <script src="/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Script da aplicação e dependências -->
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      console.log('Running on <%= env %> environment!');
      <% if (env == 'development') { %>
      System.import('systemjs-hot-reloader/default-listener.js');
      <% } %>
      System.import('/bootstrap')
      .catch(console.error.bind(console));
    </script>
  </head>
  <body>

    <div ui-view="root"></div>

    <!-- Scripts do google e terceiros: -->
    <script src="https://assets.pagar.me/js/pagarme.min.js"></script>
    <script type="text/javascript"> //<![CDATA[
      var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
      document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
      //]]>
    </script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M3WZQJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M3WZQJ');</script>
    <!-- End Google Tag Manager -->

    <script src="https://maps.googleapis.com/maps/api/js?language=pt_BR&key=AIzaSyDFAE7ywLQBLmyS4jzyHlojO_DWC_BaRWA"></script>

    <!--
      Código do Google para tag de remarketing
      As tags de remarketing não podem ser associadas a informações pessoais de identificação nem inseridas
      em páginas relacionadas a categorias de confidencialidade. Veja mais informações e instruções sobre como
      configurar a tag em: http://google.com/ads/remarketingsetup
    -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 971695909;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/971695909/?value=0&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>
    <script class="trustlogo">
      window.TrustLogo("https://s3-sa-east-1.amazonaws.com/atadosapp/images/comodo_secure_100x85_transp.png", "CL1", "none");
    </script>
  </body>
</html>
